@import '~bootstrap/scss/bootstrap';
@import "~resources/scss/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.edit,
.create {
    label {
        color: white;

    }
}

div.show {
    color: white;
    margin: 3.6em;
}

div.modal {
    color: white;
}

div#app {
    color: black;
}